<div class="real-change-buttons-box">
  <i class="real-change-button-fontawesome fa-solid fa-camera" data-change="camera"></i>
</div>
<div class="reals-index-out-box">
  <div class="main reals-index camera">
    <% reals.each do |real| %>
      <div class="real-index-box">
        <%= render partial: "reals/real", locals: {real: real, real_like_current: nil, real_link: real_path(real)} %>
      </div>
    <% end %>
  </div>
</div>
