<div class="main posts-index">
  <div class="container">
    <%= link_to new_real_path, {class: "post_pen", method: :get} do %>
    <i class="fas fa-pen post_pen"></i>
    <% end %>
    <div style="width:100%;height:500px;overflow:auto;">

    <h1>Reals</h1>
    <%= link_to "投稿",new_real_path, {class: "nav-link"} %>

      <% @reals.each do |real| %>
      <div class="posts-index-item">


        <%= link_to(real.content,"reals/#{real.id}",class: "post-index-content") %>

      </div>
      <% end %>
  </div>
 </div>
</div>
