<div class="main reals-index">
  <% @reals.each do |real| %>
    <div class="real-image-item-box">
      <%= link_to real_path(real), class: "real-index-link" do %>
        <div class="real-image-index-box">
          <% if real.image_reals.exists? %>
            <% if real.image_reals.first.picture? %>
              <%= image_tag real.image_reals.first.picture.url, class: "real-image-index" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<% unless current_admin.present? %>
  <%= link_to new_real_path, {class: "post_pen", method: :get} do %>
    <span class="fa-stack post_pen">
      <i class="fas fa-circle fa-stack-2x"style="color:pink"></i>
      <i class="fas fa-plus fa-stack-1x"style="color:white"></i>
    </span>
  <% end %>
<% end %>
