<%= render partial: "reals/reals_list", locals: {reals: @reals,reals_not: @reals_not, message_custom: false} %>
<div class="new-link-box">
  <%= link_to new_real_path, class: "underline-none hover" do %>
    <i class="fa-solid fa-plus plus-new-icon"></i>
  <% end %>
</div>
