<div class="main posts-show">
    <div class="posts-show-item">

        <%= @real.content %>
        <div class="post-menus">
          <%= @real.updated_at.strftime("%Y-%m-%d %H:%M") %>
          <%= link_to(real_path(@real),data: { confirm: "この投稿を削除してもよろしいですか？" }, method: :delete) do%>
          <i class="fas fa-trash-alt fa-2x"></i>
          <% end %>
        </div>
    </div>
</div>
