
<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">コメント</h1>
    <%= form_for (@comment) do |f| %>
      <div class="form">
        <div class="form-body">
          <%= f.text_field :content,class: "form-control" %>
          <%= f.hidden_field :posts_id, value: @posts_id %>
          <%= f.submit 'コメントする', class: "btn btn-primary input" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
