<div class="sales-box-user-index-box">
  <% @sales.each do |sale| %>
    <div class="sale-box-user">
      <h2><%= sale.post.title %></h2>
      <p></p>
      <div class="transfer-option-box">

        <h5><%= sale.payment.amount - (sale.payment.amount * sale.payment.commision_result).round %>円</h5>

        <%= transfer_translate(sale.transfer) %>
      </div>
    </div>
  <% end %>
</div>
