<script src="https://js.stripe.com/v3/"></script>
<div class="modal" id="payment-modal"></div>

<!--  支払いのフォームボックス cssファイル assets/stylesheets/payments.scss !-->
<% if Post.all.exists? %>
  <div class="post-payment-box" id="post-payment-box">
    <p class="text-center" id="buy-text"></p>
    <%= form_tag post_payment_post_payments_path(post_id: Post.all.first), id: "post_payment_form" do %>
      <h4 class="payment-form-label">カード番号</h4>
      <div>
        <div id="card-number" class="stripe-input"></div>
      </div>
      <h4 class="payment-form-label">有効期限</h4>
      <div>
        <div id="card-expiry" class="stripe-input"></div>
      </div>
      <h4 class="payment-form-label">セキュリティコード</h4>
      <div>
        <div id="card-cvc" class="stripe-input"></div>
      </div>
      <div id="card-errors">

      </div>
      <%= submit_tag "送信" %>
    <% end %>
  </div>
  <!-- Stripeに関するJavascriptコード -->
  <script>

    const key = gon.stripe_public_key;
    const stripe = Stripe(key);
    const elements = stripe.elements();
    const post_payment_box = document.getElementById("post-payment-box");
    let payment_modal = document.getElementById("payment-modal");
    const style = {
      base: {
        fontSize: "16px"
      }
    }

    // stripeが自動的にフォームを作ってくれる。
    const cardNumber = elements.create('cardNumber', {style: style});
    cardNumber.mount('#card-number');
    const cardExpiry = elements.create('cardExpiry', {style: style});
    cardExpiry.mount('#card-expiry');
    const cardCvc = elements.create('cardCvc', {style: style});
    cardCvc.mount('#card-cvc');

    cardNumber.addEventListener('change', function(event){
      const ErrorElement = document.getElementById("card-errors");
      if(event.error){
        ErrorElement.textContent = event.error.message;
      }else{
        ErrorElement.textContent = "";
      }
    });




    payment_modal.addEventListener("click", function(event){
      payment_modal.classList.remove("open");
      post_payment_box.style.display = "none";
    });

    let form = document.getElementById("post_payment_form");

    form.addEventListener("submit", function(event){
      event.preventDefault();

      stripe.createToken(cardNumber).then(function(result){
        if(result.error){
          //カード情報のエラーがでたらエラーメッセージを表示する。
          let errorElement = document.getElementById("card-errors");
          errorElement.textContent = result.error.message;
        }else{
          //カード情報があっていればトークンなどをフォームに入れる。
          StripeSendTokenFormCreate(result.token);
        }
      });

      function StripeSendTokenFormCreate(token){
        const token_input = document.createElement("input");

        token_input.setAttribute("type", "hidden");
        token_input.setAttribute("name", "stripeToken");
        token_input.setAttribute("value", token.id);
        form.appendChild(token_input);


        form.submit();
      }
    });

  </script>
<% end %>
