<%= render "search_form" %>
<% if params[:search_type].present? %>
  <% if params[:search_type] == "posts" %>
    <%= render partial: "posts/posts_list", locals: {posts: @posts} %>
  <% elsif params[:search_type] == "users" %>
    <div class="user-lists-search-box">
      <%= render partial: "users/users_list", locals: {users: @users, introduction_mode: true} %>
    </div>
  <% elsif params[:search_type] == "reals" %>
    <%= render partial: "reals/reals_list", locals: {reals: @reals} %>
  <% end %>
<% end %>
