<div class="rooms-all-box">
  <% @rooms.each do |room| %>
    <div class="room-index-out-box">
      <%= link_to room_path(room), class: "underline-none hover" do %>
        <div class="room-index-box">
          <% last_chat_post = nil %>
          <% if room.chat_posts.exists? %>
            <% last_chat_post = room.chat_posts.last %>
          <% end %>

          <div class="room-target-user-profile-box">
            <% room.current_user_other_users(current_user).each do |target_user| %>
              <%= render partial: "users/user_profile", locals: {user: target_user} %>
            <% end %>
            <p class="room-with-message-user-text">とのメッセージ</p>
            <p class="time_ago_room_last"><%= time_ago_in_words(last_chat_post.created_at) %>前</p>
          </div>
          <div class="room-last-message-box">
            <% if last_chat_post.present? %>
              <% if last_chat_post.message.present? && !last_chat_post.chat_post_images.exists? %>
                <p class="room_last_message"><%= last_chat_post.message %></p>
              <% elsif last_chat_post.message.blank? && last_chat_post.chat_post_images.exists? %>
                <p class="room_last_message">画像を送信</p>
              <% end %>
            <% end %>
          </div>
          <%# no_mine_chat_posts = room.chat_posts.where.not(user_id: current_user.id) %>
          <%# chat_post_reads = ChatPostRead.where(chat_post_id: no_mine_chat_posts.ids) %>
          <%# target_chat_posts = no_mine_chat_posts.where.not(id: chat_post_reads.pluck(:chat_post_id)) %>
          <%#= target_chat_posts.count %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
