<div id="room-show"  data-room_id="<%= @room.id %>" current_user="<%= current_user.id %>">
  <div id="messages">
    <% @chat_posts.each do |chat_post| %>
      <%= render "message", {chat: chat_post, user: chat_post.user} %>
    <% end %>
  </div>
  <input type="text" data-behavior="room_speaker">
</div>
