<div id="room-show"  data-room_id="<%= @room.id %>" data-current_user="<%= current_user.id %>" class="room-show-box">
  <div class="room-messages">
    <div id="messages">
      <% @chat_posts.each do |chat_post| %>
        <%= render "message", {chat: chat_post, user: chat_post.user} %>
      <% end %>
    </div>
  </div>
  <div class="room-show-speaker-box">
    <input type="file" id="room-image-post-input" class="room-image-post-input">
    <div class="room-bottom-form-box">
      <input type="text" data-behavior="room_speaker" class="room-show-speaker-input" placeholder="メッセージを入力">
      <button class="room-form-send-button"><%= image_tag "send.png" %></button>
    </div>
  </div>
</div>
<style>
  .container{
    padding: 0;
    margin: 0;
    max-width: none;
  }
</style>
<script>
  animate = $('.room-messages').scrollTop($("#messages").height());
  $(".room-chat-message-image-one-box").click(function(event){
    var chat_id = event.target.dataset.chatId;

  });
</script>
