// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follow_btn{
  padding: .1rem .1rem;
  font-size: 10px;
}
.show_name{
  font-size: 20px;
}
.user_edit{
  width: 25%;
  height: 35px;
}
.actions{
  margin-top: 10px;
}
.follow_users_btn{
  padding: .1rem .1rem;
  font-size: 10px;
  margin-right: 800px;
}
