<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">

           <div class= "users_right">
            <%= link_to "#{ post.user.username}",  user_path(user) %>
            </div>
        <%= link_to(post.content, "/posts/#{post.id}") %>
      </div>
    <% end %>
  </div>
</div>
