<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿</h1>
    <%= form_tag(posts_path(@post)) do %>
      <div class="form">
        <div class="form-body">
          <textarea class="form-control" name="content"></textarea>
          <label>値段
            <input class="form-control" name="amount" placeholder="例(1000)">
          </label>
         <div class="text-right">
          <input class="btn btn-primary input" type="submit" value="投稿">
        </div>
        
        </div>
      </div>
    <% end %>
  </div>
</div>
