.admin_tables td {
    border: solid 1px;              /* 枠線指定 */
    width:  300px;              /* 幅指定 */
    height: 80px;
    text-align: center;
    vertical-align: center;
    margin: 0px;
    border-color: #BBBBBB;
}

.admin_tables table {
    border-collapse:  collapse;     /* セルの線を重ねる */
}
