/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery-ui/autocomplete
 *= require jquery-ui/theme
 *= require jquery-ui/menu
*/

.hide {
  display: none;
  opacity: 1;
}

.report-show-button {
  font-size: 30px;
  cursor: pointer;
}

.report-show-button:hover {
  opacity: 0.8;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.block {
  display: block !important;
}

.underline-none {
  text-decoration: none;
}

.underline-none.hover:hover {
  text-decoration: none;
}

.slick_thumb .slick-track {
  transform: unset !important;
}

.image-contents-zoom {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  align-items: center;

}

.image-zoom-area {
  background-color: transparent;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
}

.image-contents-zoom-box {
  max-height: 600px;
  max-width: 800px;
  overflow: hidden;
  padding: 20px;
}

.image-contents-zoom-box img {
  width: 100%;
  max-height: 550px;
  padding-top: 5%;
  object-fit: cover;
  margin: 0 auto;
}

.base-pink-button {
  background-color: #e51273;
  color: #fff;
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 5px rgb(149, 149, 149);
  transition: 0.3s background-color ease;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

.base-pink-button:hover {
  background-color: #bd1061;
}

button {
  cursor: pointer;
}

input[type="submit"]:disabled {
  background-color: #696969;
}

.bold {
  font-weight: bold;
}

.black-text {
  color: #000;
}

.black-text.hover:hover {
  color: #000;
}

.message-footer-box {
  position: relative;
}

.chat_post_reads_false_count_box.top {
  top: 0;
  right: -15px;
  font-size: 15px;
  width: 20px;
  height: 20px;
  line-height: normal;
}

.follow_btn {
  padding: .1rem .1rem;
  font-size: 10px;
  background-color: #ff80bf;
  border-color: #ff80bf;
}

.show_name {
  font-size: 20px;
}

.user_edit {
  width: 25%;
  height: 35px;
}

.actions {
  margin-top: 10px;
}

.follow_users_btn {
  padding: .1rem .1rem;
  font-size: 10px;
  margin-right: 800px;
}

header {
  background-color: pink;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

footer {
  width: 100%;
  height: 80px;
  position: relative;
}

.footer-contents-box {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;

  height: 60px;
  background: gray;
  color: white;
  z-index: 10000;
}

.footer-contents-box ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}


.logo {
  margin-left: 20px;
}

.input {
  background-color: #ff80bf;
  border: #ff80bf;
  margin-left: 5px;

}

nav {
  background-color: pink;
}

@media screen and (max-width:792px) {
  #navbarSupportedContent {
    background-color: rgb(255, 231, 235);
  }
}

@media screen and (min-width:793px) {
  #navbarSupportedContent {
    background-color: pink;
  }
}
