// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-show h2 {
  border-bottom: 1px solid gray;
}

.comment-show {
  font-size: 1.7rem;
}

.comment-index-item {
  padding: 15px 30px;
  background-color: white;
  position: relative;
  // box-shadow: 0 2px 6px #c1ced7;
  border-bottom: 1px solid #eee;
  word-break: break-all;
}

.reals-show .comment-index-item .user-profile-box {
  padding: 0;
}

.comment-index-name {
  color: black;
  font-size: 15px;
  font-weight: 600;
  padding-left: 18px;
  vertical-align: 15px;

}

.comment-index-content {
  padding-left: 55px;
}

.comment-form-submit {
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  height: 30px;
  margin-top: 15px;
  margin-left: 5px;
  padding: 5px;
  font-size: 13px;
}

.comment-form {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-left: 30px;
  padding-right: 30px;
}

.comment-field {
  border: 0;
  resize: none;
  min-height: 80px;
  width: 100%;
}

.comment-field:focus {
  outline: none;
}
