// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follow_btn{
  padding: .1rem .1rem;
  font-size: 10px;
  background-color: hotpink;
}
.show_name{
  font-size: 20px;
}
.user_edit{
  width: 25%;
  height: 35px;
}
.actions{
  margin-top: 10px;
}
.follow_users_btn{
  padding: .1rem .1rem;
  font-size: 10px;
  margin-right: 800px;
}
header {
  background-color: pink;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}
footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;

  height: 60px;
  background: gray;
  color: white;
}
footer li {
  display: inline;
  margin-right: 120px;
  padding-left: 90px;
}
.logo {
  margin-left: 20px;
}
.input {
  background-color: hotpink;
  margin-top: 20px;
}
nav {
  background-color: pink;
}

@media screen and (max-width:792px) {
  #navbarSupportedContent{
    background-color: rgb(255, 231, 235);
  }
}

@media screen and (min-width:793px) {
  #navbarSupportedContent{
    background-color: pink;
  }
}
