.reals-image-view-box{
  width: 250px;
  height: 50px;
  background-color: rgb(166, 166, 255);
  position: relative;
  display: flex;
  margin-left: 20px;
  padding: 0px 0px 0px 10px;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-top: 10px;
}
.image-view-form.reals{
  display: flex;
  flex-wrap: wrap;
}
.reals-image-view{
  width: 50px;
  object-fit: cover;
  height: 100%;
}
.reals-image-name{
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  padding-top: 10px;
  font-size: 20px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin: 0;
}
.real-image-upload-icon:hover{
  opacity: 0.5;
}
.delete-button-reals-image-form{
  width: 20px;
  height: 20px;
  background: rgb(41, 41, 41);
  color: #fff;
  font-size: 100%;
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
  border-radius: 50%;
}
.delete-button-reals-image-form::before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}