// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* posts/index ================================ */
.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  word-break: break-all;
  border-radius: 5%;
  margin: 0.3%;
  margin-left: 2%;
  margin-bottom: 2%;
  width: 17%;
  height: 250px;
}
.post_index_poster{
  max-width: 100%;
}
.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #333333;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}
.post-index-name {
  color: black;
  font-size: 10px;
  font-weight: 600;
  padding-left: 18px;
  vertical-align: 15px;
}

/* posts/show ================================ */
.posts-show form {
  display: inline;
}

.posts-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
  word-break: break-all;
}

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
  margin-left: 55px;
}
#form-control-file{
  display: none;
}
.post-time {
  color: #8899a6;
  margin-top: 50px;
  margin-bottom: -30px;
}

.post-menus {
  margin: 0 0 0 auto;
  max-width: 200px;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}
.comment-show{
  color: gray;
}
/* posts/new ================================ */
.posts-new {
  margin-top: 50px;
  margin-bottom: 30px;
}
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}
.post-user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -10px;
  object-fit: cover;
  -webkit-appearance:none;
}
.post-users img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -20px;
  object-fit: cover;
  -webkit-appearance:none;
}
.post-users p {

}
.post-index-content {
margin-top: -30px;
}
.post-index-content {
  font-size: 22px;
  margin-left: 50px;
  color: gray;
}
.post-show-content{
  margin-top: -30px;
  font-size: 22px;
  margin-left: 90px;
  width: 80%;
  color: #333333;
  word-break: break-all;
}
.form-view-image-event-range{
  cursor: pointer;
}
.form-view-images:hover{
  .form-view-images{
    opacity: 0.8;
  }
}
.input-images-area{
  display: none;
}
#click-event-poster-field{
  cursor: pointer;
}
.post-explanation-area-box{
  display: flex;
  justify-content: space-between;
}
.post-slide-images-box{
  display: flex;
  width: 400px;
  height: 350px;
  cursor: pointer;
}
.post-slide-image-one-box{
  background-color: rgb(245, 245, 245);
  width: 100%;
  padding: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.post-explanation.image-contents-zoom-box{
  display: flex !important;
  justify-content: center;
  height: 600px;
}
.post-explanation.image-contents-zoom-box img{
  width: auto;
  
}



.post-slide-control-one-image-box{
  background-color: rgb(245, 245, 245);
  width: 90px;
  height: 60px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  transition: border 0.5s;
  outline: none;
  position: relative;
  cursor: pointer;
}
.post-slide-control-one-image-box:active{
  border: 1px solid rgb(251, 51, 174);
}
.post-slide-control-images-box{
  margin-left: 15px;
  padding-bottom: 30px; 
}
.post-explanation-slide-box{
  display: flex;
  max-width: 100%;
}
.post-explanation.image-contents-zoom .slick-track{
  height: 100%;
}
.post-explanation.modal-contents{
  width: 500px;
  height: 600px;
}


.slick-list.draggable{
  height: 100%;
}


.post-slide-control-one-image-box img{
  object-fit: cover;

}
.post-slide-control-one-image-box:first-child{
  margin-left: 0;
}
.post-slide-control-one-image-box:last-child{
  margin-bottom: 0;
}
.post-slide-control-one-image-box.slick-current{
  border: 1px solid rgb(235, 88, 186);

}

.post-slide-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-slide-image.post_poster{
  max-width: 100%;
  width: auto;
}
.post-explanation .zoom-hide-button{
  top: -35px;
  right: -35px;
}
@media screen and (max-width: 900px){
  .post-explanation.modal-contents{
    width: 500px;
    height: 600px;
  }

}
@media screen and (max-width: 650px){
  .post-explanation-slide-box{
    display: block;
  }

  .post-slide-control-images-box{
    margin-left: 0;
    display: flex;
  }
  .post-slide-control-images-box{
    margin-top: 30px;
  }
  .post-slide-control-one-image-box{
    width: 20%;
    margin-left: 13px;
  }
  .post-explanation.image-contents-zoom-area.modal-contents{
    width: 450px;
    height: 550px;
  }
  .post-slide-control-one-image-box:first-child{
    margin-left: 0;
  }
  .post-slide-images-box{
    max-height: 500px;
    max-width: 100%;
  }
  .post-explanation.image-contents-zoom-box img{
    max-height: 350px;
  }
}
@media screen and (max-width: 480px){
  .post-explanation.image-contents-zoom-area.modal-contents{
    width: 400px;
    height: 500px;
  }
  .post-explanation .zoom-hide-button{
    top: -45px;
    right: 20px;
  }
}