// Place all the styles related to the reals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reals-index{
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
  justify-content: center;
}
.real-show-content{
    margin-top: -30px;
    font-size: 22px;
    margin-left: 90px;
    width: 80%;
    color: #4d4d4d;
    word-break: break-all;
}
.real-image-item-box{
  margin-right: 2px;
  margin-top: 2px;
}
.real-image-index-box{
  width: 120px;
  height: 120px;
  background-color: #eee;
}
.real-image-index{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.real-image-upload-icon{
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: asset-url("clip-icon.png");
  background-size: cover;
}
#submit-real{
  margin: 0 0 0 auto;
}
.submit-form.reals{
  display: flex;
  margin-top: 10px;
}
.real-textarea{
  border: none;
  resize: none;
  min-height: 140px;

}

.real-textarea:focus{
  outline: none;
  box-shadow: none;
}
.real-index-content{

    font-size: 22px;
    margin-left: 60px;
    margin-bottom: 40px;
    width: 60%;
    color: gray;
    word-break: break-all;

}
.real-index-name {
  color: black;
  font-size: 15px;
  font-weight: 600;
  padding-left: 18px;
  vertical-align: 15px;
}
.real-users img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  object-fit: cover;
}
.real-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  object-fit: cover;
}
.real-show-name {
  color: black;
  font-size: 25px;
  font-weight: 600;
  padding-left: 18px;
  vertical-align: 15px;
}
.real-image{
  width: 80px;
  height:90px;
}
@media screen and (max-width: 700px){
  .reals-index-item{
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .reals-index-item-out-box{
  }
}