<div class="sale-all-box-user">
  <div class="sale-result-box">

  </div>
  <div class="sale-box">
    <% @sales.each do |sale| %>
      <%= sale.receipt_with_commision %>円
    <% end %>
  </div>
</div>
