<div class="form-view-images">
  <!-- 画像フォームのプレビュー -->
  <div class="form-view-images-range"></div>
  <div id="form-view-image-event" class="form-view-image-event-range"></div>
  <%= image_tag "camera_icon.png", class: "camera_icon" %>
</div>